{% extends 'aplicacion/base.html' %}

{% block titulo %}
<h1>¡Hola! Soy Agustín Santiago Frecha</h1>
{% endblock titulo %}

{% block contenido %}
<div>
    <p>
        Tengo 18 años y terminé el secundario hace algunos meses. Aunque enfrenté algunas complicaciones al intentar inscribirme en diferentes universidades, eso no va a disminuir mi motivación y ganas de aprender. Planeo comenzar la carrera de Ingeniero en Sistemas de Información el próximo año.
    </p>
    <p>
        Este fue mi primer acercamiento al maravilloso mundo de la programación. Me ha gustado mucho, aunque no negaré que tuve algunos desafíos en el camino.
    </p>
    <p>
        ¡Estoy emocionado por lo que el futuro tiene reservado en mi viaje de aprendizaje en la programación!
    </p>
</div>
{% endblock contenido %}


