{% extends 'aplicacion/base.html' %}
{% load static %}

{% block titulo %}
    <h1>Pagina de Vehículos en venta</h1>
{% endblock titulo %}

{% block contenido %}
    <h4>Cantidad de Vehiculos en venta {{ autosVenta|length }}</h4>
    <h2>Vehículos en venta
    <a href="{% url 'autosVenta_form' %}" class="btn btn-primary btn-sm"><i class="fa fa-plus fa-lg" title="New Record"></i></a>
    </h2>
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th>id</th>
                <th>marca</th>
                <th>modelo</th>
                <th>anio</th>
                <th>kilometraje</th>
                <th>precio</th>
                <th>Imagen</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for a in autosVenta %}
            <tr>
                <td>{{ a.id }}</td>
                <td>{{ a.marca }}</td>
                <td>{{ a.modelo }}</td>
                <td>{{ a.anio }}</td>
                <td>{{ a.kilometraje }}</td>
                <td>{{ a.precio }}</td>
                <td>
                    <img src="{% static 'aplicacion/imagenes/'|add:a.id|stringformat:".jpg" %}" alt="Imagen de {{ a.modelo }}" width="100">

                </td>
                <td>
                    <a href="{% url 'modifAutoVenta' id_autosVenta=a.id %}" class="btn btn-primary" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                        <i class="fa fa-edit fa-sm" title="Edit Record"></i>
                    </a>
                    <a href="{% url 'deleteAutoVenta' id_autosVenta=a.id %}" class="btn btn-danger" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                        <i class="fa fa-trash fa-sm" title="Delete Record"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock contenido %}
