{% extends 'aplicacion/base.html' %}
{% load static %}

{% block titulo %}
    Agregar cliente
{% endblock titulo %}


{% block contenido %}
    <h2>Agregar un cliente</h2>
    <form action="" method="post">
        {% csrf_token %}
        <p>Cliente: <input type="text" name="nombre" id="nombre"></p>
        <p>telefono: <input type="text" name="nombre" id="nombre"></p>
        <p>mail: <input type="text" name="nombre" id="nombre"></p>
        <input type="submit" value="Enviar">

    </form>
{% endblock contenido %}
